body {
    background-color: #d68e8e;
    background-image: url(https://images.pond5.com/flashing-light-wall-footage-006245993_prevstill.jpeg);
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 30px;
    text-align: center;
}

h1 {
    background-color: rgb(250, 4, 77);
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

h2 {
    background-color: rgb(112, 116, 73);
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;

}

#true {
    background-color: #61a02a;
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 130px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
      padding: 25px;
}

#false {
    background-color: #ba4a4a;
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 130px;
    font-weight: 500;
    line-height: 1.1;
       text-align: center;
   padding: 25px; 
}

#newQ {
    background-color: #8ed5d6;
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 90px;
    font-weight: 500;
    line-height: 1.1;
    
}

#inputUsername {
    background-color: #8ed5d6;
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-left: 500px;
       text-align: center;
       margin:auto;
       width: 200px;
       margin-top: 70px;
    }

#output {
    background-color: #8ed5d6;
    color: #040404;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-left: 500px;
       text-align: center;
       margin:auto;
       width: 200px;
       margin-top: 70px;
    }
}
